In [1]:
# NIM/Nama : 19622026/Muhammad Althariq Fairuz
# Tanggal : 17-11-2022
# Deskripsi : Menganalaisis data mahasiswa

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
datasiswa = pd.read_csv ("C:\\Users\\Althariq Fairuz\\Documents\\ITB\\Pengkom\\Praktikum pengkom\\Praktikum pengkom 5\\H05.csv")
datasiswa.head()

                   nama fakultas  nilai_mat  nilai_kim  nilai_fis
0  Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1        Steven Margono    FMIPA      67.43      51.50      57.20
2          Ryan Sentosa    SAPPK      90.62      37.38      40.73
3  Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4      Alvin Natawiguna     FTSL      65.45      57.67      56.39

In [6]:
# Problem 1
# Nilai MaFiKi milik tuan leo
dataleo = datasiswa.loc[datasiswa['nama']== 'Tuan Leo']
print(dataleo)

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Leo     STEI      96.78      62.23      30.53

In [3]:
datasiswa.loc[datasiswa['nilai_fis'].idxmax()]

nama         Yuniar Fazriani Rusmana
fakultas                        FITB
nilai_mat                      53.61
nilai_kim                      67.19
nilai_fis                      92.57
Name: 1936, dtype: object

In [26]:
# Problem 2
# Mahasiswa dengan nilai fisika tertinggi (kalau lebih dari 1 tampilkan semuanya)
datasiswa['nilai_fis'].max() #cari dulu nilai maxnya berapa
print(datasiswa.loc[datasiswa['nilai_fis'] == 92.57]) #panggil setiap siswa yang nilai fisikanya sama dengan nilai max (92.57)

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [29]:
# Problem 3
# 10 mahasiswa dengan nilai kimia tertinggi
highestkim = datasiswa.sort_values(["nilai_kim"], ascending = [False]) [:10]
print ('Berikut 10 siswa dengan nilai kimia tertinggi : ')
print (highestkim)

Berikut 10 siswa dengan nilai kimia tertinggi :
                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [32]:
# Problem 4 
# Banyaknya mahasiswa dengan nilai matematika < 50
mtkremed = len(datasiswa.loc[datasiswa['nilai_mat'] < 50])
print('Banyak mahasiswa yang nilai matematikanya dibawah 50 adalah : ',mtkremed)

Banyak mahasiswa yang nilai matematikanya dibawah 50 adalah :  329

In [35]:
# Problem 5
# Banyak mahasiswa FMIPA
fmipa = len(datasiswa.loc[datasiswa['fakultas'] == 'FMIPA'])
print('Banyaknya mahasiswa FMIPA adalah : ',fmipa)

Banyaknya mahasiswa FMIPA adalah :  627